# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build - @adviser/cement

on:
  push:
  pull_request:

env:
  IN_CI: "in_ci"

jobs:
  build:
    permissions:
      contents: read
      id-token: write
      pages: write

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          version: 10

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
          cache-dependency-path: 'ts/pnpm-lock.yaml'
          registry-url: 'https://registry.npmjs.org'

      - name: Build JS @adviser/cement
        run: |
          cd ts
          pnpm remove playwright-chromium
          pnpm install
          pnpm run prettier --check
          pnpm run lint
          pnpm run build
          PLAYWRIGHT_VERSION=$(pnpm why playwright --json | jq -r '.[0].devDependencies.playwright.version // empty')
          docker run --rm \
            -v $(pwd):/work \
            -w /work \
            mcr.microsoft.com/playwright:v${PLAYWRIGHT_VERSION}-noble \
            bash -c "npm run test:js"
          pnpm run test:deno 
          pnpm run smoke

      - name: Build documentation
        run: |
          cd ts
          pnpm run docs

      - name: Setup Pages
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/docs')
        uses: actions/configure-pages@v5

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/docs')
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'ts/dist/docs'

      - name: Deploy to GitHub Pages
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/docs')
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Publish cement NPM
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cd ts
          cd pubdir
          npm install -g npm@11
          npm --version
          bash ./src/cli/run.sh publishTags
          node -e 'console.log(JSON.stringify(process.env, null, 2))'
          npm publish --access public --no-git-checks $(bash ./src/cli/run.sh publishTags)

      - name: Publish cement JSR
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cd ts
          pnpm run deno:publish


